body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
  background-size: contain;
  background-repeat: no-repeat;

height: 110vh;
width:110vh;

    background-image: url(hero-banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}