/* style.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 30%; /* Réduire la largeur du formulaire */
    max-width: 350px; /* Limiter la largeur maximale */
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.5em; /* Réduire la taille du titre */
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.9em; /* Réduire la taille des labels */
}

input[type="text"],
input[type="email"],
input[type="button"] {
    width: 100%;
    padding: 8px; /* Réduire le padding pour rendre les champs plus compacts */
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 0.9em; /* Réduire la taille de la police des champs */
}

input[type="button"] {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border: none;
    width: auto; /* Ajuste la largeur du bouton pour le rendre plus petit */
    padding: 8px 20px; /* Ajoute du padding pour un meilleur look */
    font-size: 0.9em; /* Réduire la taille de la police des boutons */
}

input[type="button"]:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
}

a input[type="button"] {
    width: auto; /* Ajuste la largeur du bouton pour le rendre plus petit */
    padding: 8px 20px; /* Ajoute du padding pour un meilleur look */
}
